* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/*changed to style on the header element rather than the class*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/*changed to style on the h1 child element rather than the class*/
header h1 {
  display: inline-block;
  font-size: 48px;
}

/*used for the inline span to style the color of the characters seo in the child element h1 with class seo*/
header h1 .seo {
  color: #d9dcd6;
}

/*format the nav child element*/
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/*format the child list elements*/
header nav ul {
  list-style-type: none;
}

/*format the child list item elements*/
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/*generic class benefit section for formatting*/
.benefit-section {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-section h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-section img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*generic class link content for formatting*/
.link-content {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
.link-content img {
  max-height: 200px;
}
.link-content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*change the div to be the footer element*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/*footer class replaced by footer element h2 formatting updated*/
footer h2 {
  font-size: 20px;
}
